/* Estilos comuns entre todos os módulos do curso Saúde da Criança. */

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

$grid-gutter-width: 1.875rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/helpers.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/popover.scss";
@import "../../node_modules/bootstrap/scss/transitions.scss";
@import "../../node_modules/bootstrap/scss/accordion.scss";

// @import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playpen+Sans:wght@100..800&display=swap");

$primary-black: #292929;

$primary-blue: #98bcd7;
$primary-blue-light: #b9d5ea;
$primary-blue-ligher: #cde3f4;
$primary-blue-lightest: #b9d5ea;
$primary-blue-hyperlight: #dcedfa;
$primary-blue-dark: #7da3bf;
$primary-blue-darker: #516f85;

$primary-green: #92d3ca;
$primary-green-lightest: #dcf4f2;

$primary-magenta: #d3a5d0;
$primary-magenta-lightest: #f8e2f6;

$primary-orange: #f29e4a;
$primary-orange-lightest: #ffe0c2;

$primary-pink: #ed5e7e;

$primary-purple: #a3a6d6;
$primary-purple-lightest: #e3e5f7;

$primary-yellow: #fcd861;
$primary-yellow-lightest: #fef9e7;

$primary-white: white;

$secondary-darker: #434556;
$secondary-dark: #70728f;
$secondary-normal: #a9abbc;
$secondary-light: #d4d5dd;
$secondary-lighter: #f1f1f4;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  hyphens: auto;
}

section {
  > * {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playpen Sans", sans-serif;
  text-align: left;
  hyphens: none;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
h1 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: $primary-purple;
  font-weight: bold;
}
h2 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: $primary-purple;
  font-weight: bold;
}
h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  color: $primary-green;
  font-weight: bold;
}
h4 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: $primary-orange;
}
h5 {
  color: #e3e5f7;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

nav {
  > ul {
    > li {
      &::before {
        content: url("../img/common/bullet-nav.svg");
        vertical-align: -4%;
      }
    }
  }
}

ul {
  margin-top: 20px;
  margin-bottom: 30px;

  li {
    list-style-type: none;
    text-indent: -1rem;

    &::before {
      content: url("../img/common/bullet-main.svg");
      display: inline-block;
      vertical-align: -8%;
      margin-right: 1rem;
    }
  }
}

p,
li {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: $primary-black;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

a {
  color: $primary-orange;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
  color: $primary-pink;

  &[role="button"] {
    color: $primary-orange;
  }
}

figure {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  figcaption {
    line-height: 2rem;
  }

  svg {
    max-width: 100%;
    height: auto;
  }
}

pre {
  white-space: pre-line;
}

/* #region Row */

section {
  > .row {
    > div {
      > *:first-child {
        margin-top: 0;
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* #endregion */

/* #region Header */

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color: $primary-purple;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  & > div {
    gap: 2rem;
  }

  h5 {
    margin: 1rem 0;
    max-width: 400px;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .ci-hamburger {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url("../sc-common/img/common/icon-hamburger.svg");
    background-size: cover;
  }
}

.hero {
  width: 100%;
  height: 400px;
  background-image: url("../sc-common/img/common/hero-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  img {
    margin-bottom: 40px;
    width: 100%;
    height: auto;
  }
}

/* #endregion Header */

/* #region Callout */

.callout {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  display: flex;
  gap: 1.5rem;
  border-radius: 1rem;

  @media (max-width: map-get($grid-breakpoints, "sm")) {
    flex-wrap: wrap;
  }
  &[type="info"] {
    background-color: $primary-purple-lightest;
  }
  &[type="reflection"] {
    background-color: $primary-green-lightest;
  }
  &[type="warning"] {
    background-color: $primary-yellow-lightest;
  }
  &[type="glossary"] {
    background-color: $primary-magenta-lightest;
  }

  img {
    width: 130px;
    height: 130px;
  }

  h6 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  p {
    margin: 0;
    min-width: 200px;
  }
  li {
    list-style: disc;
  }
}

/* #endregion Callout */

/* #region Bootstrap components */

.popover {
  h3 {
    margin-top: 0;
  }
}
.popover-body {

  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }

  p,
  ul,
  li {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  li {
    list-style: disc;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

/* #endregion Bootstrap components */

.video {
  width: 100%;
  border-radius: 1rem;
  svg {
    width: 100%;
  }
}

.footer-nav {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    border: none;
    background-color: transparent;
  }
}

footer {
  height: 80px;
  background-color: $primary-purple;
}
