/**
  * Estilos comuns entre todos os módulos
  * do curso Saúde da Criança.
*/

/* --- IMPORTS --- */

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

$grid-gutter-width: 1.875rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$accordion-icon-color}' class='bi bi-caret-down-fill' viewBox='0 0 16 16'> <path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
$accordion-button-active-icon: $accordion-button-icon;

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/helpers.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/popover.scss";
@import "../../node_modules/bootstrap/scss/transitions.scss";
@import "../../node_modules/bootstrap/scss/nav.scss";
@import "../../node_modules/bootstrap/scss/accordion.scss";
@import "../../node_modules/bootstrap/scss/modal.scss";

// @import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playpen+Sans:wght@100..800&display=swap");

/* --- VARIABLES --- */

$color-blue-bell-50: #f6f6fc;
$color-blue-bell-200: #e2e2f2;
$color-blue-bell-300: #cacae8;
$color-blue-bell-400: #aeabda;
$color-blue-bell-500: #938ccb;
$color-blue-bell-600: #7b6eb9;
$color-blue-bell-900: #4a4072;
$color-blue-bell-950: #2e294c;

$color-shadow-green-50: #f4f9f8;
$color-shadow-green-100: #daede9;
$color-shadow-green-200: #b5dad4;
$color-shadow-green-300: #93c6bf;
$color-shadow-green-400: #5fa29b;
$color-shadow-green-500: #458781;

$color-light-orchid-50: #fbf4fa;
$color-light-orchid-100: #f8ebf6;
$color-light-orchid-200: #f2d8ef;
$color-light-orchid-300: #e1a3d8;
$color-light-orchid-400: #d98dcd;
$color-light-orchid-500: #ca6ab7;
$color-light-orchid-600: #b64c9c;
$color-light-orchid-700: #9b3b81;
$color-light-orchid-800: #9b3b81;
$color-light-orchid-900: #6d2e5b;
$color-light-orchid-900: #411634;

$color-tonys-pink-200: #f5d8d3;

$color-new-orleans-200: #efdeb9;

$color-neutral-black: #292929;
$color-neutral-daker: #434556;
$color-neutral-dark: #70728f;
$color-neutral-normal: #a9abbc;
$color-neutral-light: #d4d5dd;
$color-neutral-lighter: #f1f1f4;
$color-neutral-white: #ffffff;

$font-open-sans: "Open Sans";
$font-playpen-sans: "Playpen Sans";

$list-bullet-nav-1: url("../img/common/bullet-nav-1.svg");
$list-bullet-content-1: url("../img/common/bullet-main-1.svg");
$list-bullet-nav-2: url("../img/common/bullet-nav-2.svg");
$list-bullet-content-2: url("../img/common/bullet-main-2.svg");
$list-bullet-callout-light: url("../img/common/bullet-callout-light.svg");

/* --- GENERAL --- */
* {
  box-sizing: border-box;
  scroll-margin-top: 120px;
  scroll-behavior: smooth;
}

body {
  margin: 0;

  color: $color-neutral-black;
  font-size: 1.125rem;
  line-height: 1.4;
  font-family: $font-open-sans, sans-serif;
  text-align: justify;
  hyphens: auto;
}

section {
  > * {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

/* --- TITLES --- */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  hyphens: none;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}
h1 {
  margin: 0;
  font-size: 2.5rem;
  color: $color-blue-bell-900;
}
h2 {
  font-size: 2rem;
  color: $color-neutral-daker;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  color: $color-neutral-dark;
  font-weight: bold;
}
h4 {
  font-size: 1.25rem;
  color: $color-neutral-normal;
}
h5 {
  font-size: 1.2rem;
}

/* --- LISTS --- */

@mixin list-style($nav-bullet, $content-bullet) {
  nav.nav-index {
    > ul {
      > li {
        &::before {
          content: $nav-bullet;
        }
      }
    }
  }

  ul:not(.nav) {
    li {
      &::before {
        content: $content-bullet;
      }
    }
  }
}

ul:not(.nav) {
  margin-top: 20px;
  margin-bottom: 30px;

  li {
    margin: 1rem 0;
    list-style-type: none;
    text-indent: -0.75rem;

    &::before {
      content: "•";
      display: inline-block;
      vertical-align: -8%;
      margin-right: 0.5rem;
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

nav.nav-index {
  > ul {
    > li {
      font-weight: 600;

      &::before {
        content: "‣";
        vertical-align: -4%;
      }

      > a {
        color: $color-blue-bell-900;
      }
    }
  }
}

ul.icon-list {
  padding-inline-start: 0;
  > li {
    display: flex;
    align-items: center;
    gap: 1rem;

    list-style: none;
    text-indent: 0;
    &::before {
      content: none;
    }

    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.callout {
  li {
    &::before {
      content: $list-bullet-callout-light;
    }
  }
}

/* --- TEXT --- */

a:not(.nav) {
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
  color: $color-blue-bell-600;

  &[role="button"] {
    text-decoration: underline;
  }
}

blockquote {
  margin-left: 1rem;
  margin-right: 2rem;
  padding-left: 1rem;
  border-left: 2px solid $color-neutral-dark;

  font-size: 1.125rem;
  line-height: 1.625rem;
  font-style: italic;
  color: $color-neutral-daker;
}

figure {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  figcaption {
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  svg {
    max-width: 100%;
    height: auto;
  }
}

pre {
  white-space: pre-line;
  color: $color-blue-bell-900;
}

section {
  > .row {
    > div {
      > *:first-child {
        margin-top: 0;
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* --- HEADER --- */

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color: $color-blue-bell-500;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  & > div {
    gap: 2rem;
  }

  h5 {
    margin: 1rem 0;
    max-width: 400px;
    color: $color-neutral-white;
  }

  span.un-tag {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-neutral-white;
    margin-right: 1.5rem;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .ci-hamburger {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url("../sc-common/img/common/icon-hamburger.svg");
    background-size: cover;
  }
}

.hero {
  display: flex;
  align-items: end;

  width: 100%;
  min-height: 400px;
  background-image: url("../sc-common/img/common/hero-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .title {
    margin: 10rem 0 4rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: $color-shadow-green-200;

    > .row > :first-child {
      display: flex;
      justify-content: center;
      align-items: center;

      > img {
        max-width: 120px;
        width: 100%;
        height: auto;
      }
    }
  }
}

/* --- CALLOUTS --- */

.callout {
  margin-top: 6rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 935px;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  border-radius: 1rem;

  color: $color-blue-bell-950;
  font-weight: 500;

  @media (max-width: map-get($grid-breakpoints, "sm")) {
    flex-wrap: wrap;
  }
  &[type="info"] {
    background-color: $color-blue-bell-200;
  }
  &[type="reflection"] {
    background-color: $color-blue-bell-600;
    color: $color-blue-bell-50;
  }
  &[type="warning"] {
    background-color: $color-blue-bell-200;
    h6 {
      color: $color-blue-bell-950;
    }
  }
  &[type="glossary"] {
    background-color: $color-blue-bell-900;
    color: $color-blue-bell-50;

    a {
      color: $color-blue-bell-200;
    }
  }

  > img {
    margin: -96px auto 0;
    width: 130px;
    height: 130px;
  }

  .callout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -2rem;
    margin-bottom: 1.5rem;

    > h6 {
      margin: 0;
      font-family: $font-playpen-sans, sans-serif;
      font-size: 1.5rem;
    }

    > button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: calc(1.5rem + 4px);
      height: calc(1.5rem + 4px);
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: $color-blue-bell-500;
      transition: all ease 0.1s;
      cursor: pointer;

      &:hover {
        background-color: $color-blue-bell-600;
      }

      > i {
        /* display: inline-block; */
        text-align: center;
        font-size: 1.5rem;
        -webkit-text-stroke: 1px;
        color: $color-neutral-white;
      }
    }

    // Responsiveness
    @include media-breakpoint-down(lg) {
      margin-top: 0;
    }
  }

  > .callout-body {
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
}

/* --- BOOTSTRAP CUSTOMIZATION --- */

.accordion {
  .accordion-body {
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
}

ul.custom-round-tabs.nav.nav-tabs {
  gap: 0.75rem;
  border-width: 2px;

  > li {
    margin-bottom: 1px;

    > button {
      border-width: 2px;
      border-bottom: none;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      color: $color-neutral-dark;
      font-weight: 600;

      &.active {
        color: $color-neutral-black;
      }
    }
  }
}

/* --- VIDEO --- */

.video {
  width: 100%;
  border-radius: 1rem;
  svg {
    width: 100%;
    height: auto !important;
  }
}

.footer-nav {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    width: 163px;
    padding: 4px 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-size: 1.25rem;
    font-style: normal;
    text-decoration: none;
    border-radius: 0.75rem;
    border: solid 2px $color-blue-bell-600;

    transition: all ease-in-out 100ms;

    i {
      font-size: 1.75rem;
      font-weight: bold;
    }

    &:first-child {
      background-color: transparent;

      &:hover {
        background-color: $color-blue-bell-200;
      }
    }

    &:last-child {
      color: $color-neutral-white;
      background-color: $color-blue-bell-600;

      &:hover {
        border-color: $color-blue-bell-900;
        background-color: $color-blue-bell-900;
      }
    }
  }
}

footer {
  height: 80px;
  background-color: $color-blue-bell-600;
}
