/**
  * Estilos comuns entre todos os módulos
  * do curso Saúde da Criança.
*/

/* --- IMPORTS --- */

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

$grid-gutter-width: 1.875rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$accordion-icon-color}' class='bi bi-caret-down-fill' viewBox='0 0 16 16'> <path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
$accordion-button-active-icon: $accordion-button-icon;

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/helpers.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/popover.scss";
@import "../../node_modules/bootstrap/scss/transitions.scss";
@import "../../node_modules/bootstrap/scss/nav.scss";
@import "../../node_modules/bootstrap/scss/accordion.scss";
@import "../../node_modules/bootstrap/scss/modal.scss";
@import "../../node_modules/bootstrap/scss/dropdown.scss";

// @import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playpen+Sans:wght@100..800&display=swap");

/* --- VARIABLES --- */

$color-blue-bell-50: #f6f6fc;
$color-blue-bell-100: #efeff8;
$color-blue-bell-200: #e2e2f2;
$color-blue-bell-300: #cacae8;
$color-blue-bell-400: #aeabda;
$color-blue-bell-500: #938ccb;
$color-blue-bell-600: #7b6eb9;
$color-blue-bell-800: #594c8b;
$color-blue-bell-900: #4a4072;
$color-blue-bell-950: #2e294c;

$color-shadow-green-50: #f4f9f8;
$color-shadow-green-100: #daede9;
$color-shadow-green-200: #b5dad4;
$color-shadow-green-300: #93c6bf;
$color-shadow-green-400: #5fa29b;
$color-shadow-green-500: #458781;

$color-light-orchid-50: #fbf4fa;
$color-light-orchid-100: #f8ebf6;
$color-light-orchid-200: #f2d8ef;
$color-light-orchid-300: #e1a3d8;
$color-light-orchid-400: #d98dcd;
$color-light-orchid-500: #ca6ab7;
$color-light-orchid-600: #b64c9c;
$color-light-orchid-700: #9b3b81;
$color-light-orchid-800: #9b3b81;
$color-light-orchid-900: #6d2e5b;
$color-light-orchid-900: #411634;

$color-tonys-pink-50: #fcf5f4;
$color-tonys-pink-100: #f9eae7;
$color-tonys-pink-200: #f5d8d3;
$color-tonys-pink-300: #edbdb4;
$color-tonys-pink-400: #e5a498;
$color-tonys-pink-500: #d27361;
$color-tonys-pink-600: #bd5845;
$color-tonys-pink-700: #9e4737;
$color-tonys-pink-800: #843d30;
$color-tonys-pink-900: #6e382e;
$color-tonys-pink-950: #3b1a14;

$color-new-orleans-50: #fcf9f0;
$color-new-orleans-100: #f7f0dd;
$color-new-orleans-200: #efdeb9;
$color-new-orleans-300: #e7cc99;
$color-new-orleans-400: #d8a65f;
$color-new-orleans-500: #d08f3f;
$color-new-orleans-600: #c27934;
$color-new-orleans-700: #a1602d;
$color-new-orleans-800: #814c2b;
$color-new-orleans-900: #694025;
$color-new-orleans-950: #381f12;

$color-neutral-black: #292929;
$color-neutral-darker: #434556;
$color-neutral-dark: #70728f;
$color-neutral-normal: #a9abbc;
$color-neutral-light: #d4d5dd;
$color-neutral-lighter: #f1f1f4;
$color-neutral-white: #ffffff;

$font-open-sans: "Open Sans";
$font-playpen-sans: "Playpen Sans";

$list-bullet-nav-1: url("../img/common/bullet-nav-1.svg");
$list-bullet-content-1: url("../img/common/bullet-main-1.svg");
$list-bullet-nav-2: url("../img/common/bullet-nav-2.svg");
$list-bullet-content-2: url("../img/common/bullet-main-2.svg");
$list-bullet-callout-light: url("../img/common/bullet-callout-light.svg");

/* --- MIXINS --- */

@mixin popover-style(
  $max-width,
  $header-bg,
  $header-font-size,
  $body-bg,
  $body-font-size,
  $font-color
) {
  max-width: $max-width;

  .popover-header {
    margin-top: auto;
    font-size: $header-font-size;
    background-color: $header-bg;
    color: $font-color;
  }

  .popover-body {
    font-size: $body-font-size;
    background-color: $body-bg;
    color: $font-color;
  }

  .popover-arrow {
    &::after {
    }
  }
}

/* --- GENERAL --- */

* {
  box-sizing: border-box;
  scroll-margin-top: 120px;
  scroll-behavior: smooth;
}

body {
  margin: 0;

  color: $color-neutral-black;
  font-size: 1.125rem;
  line-height: 1.4;
  font-family: $font-open-sans, sans-serif;
  text-align: justify;
  hyphens: auto;
}

section {
  > * {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

/* --- TITLES --- */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  hyphens: none;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}
h1 {
  margin: 0;
  font-size: 2.5rem;
  color: $color-blue-bell-900;
}
h2 {
  font-size: 2rem;
  color: $color-neutral-darker;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  color: $color-neutral-darker;
  font-weight: bold;
}
h4 {
  color: $color-neutral-black;
  font-size: 1.5rem;
  font-weight: 500;
}
h5 {
  color: $color-neutral-black;
  font-size: 1.25rem;
  font-weight: 500;
}

/* --- LISTS --- */

@mixin list-style($nav-bullet, $content-bullet) {
  ul:not(.nav, .dropdown-menu) {
    > li {
      &::before {
        content: $content-bullet;
      }
    }
  }

  .nav-index {
    > ul {
      > li {
        &::before {
          content: $nav-bullet;
        }
      }
    }
  }

  .arrow-bullets {
    li {
      &::before {
        content: $nav-bullet !important;
      }
    }
  }
}

ul:not(.nav, .dropdown-menu) {
  margin-top: 20px;
  margin-bottom: 30px;

  li {
    margin: 1rem 0;
    list-style-type: none;
    text-indent: -1rem;

    &::before {
      content: "•";
      display: inline-block;
      vertical-align: -8%;
      margin-right: 1rem;
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

nav.nav-index {
  > ul {
    > li {
      font-weight: 600;

      &::before {
        content: "‣";
        vertical-align: -4%;
      }

      > a {
        color: $color-blue-bell-900;
      }
    }
  }
}

ul.icon-list {
  padding-inline-start: 0;
  > li {
    display: flex;
    align-items: center;
    gap: 1rem;

    list-style: none;
    text-indent: 0;
    &::before {
      content: none;
    }

    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.callout {
  li {
    &::before {
      content: $list-bullet-callout-light;
    }
  }
}

ol {
  > li {
    margin: 1rem 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* --- TEXT --- */

a:not(.nav) {
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
  color: $color-blue-bell-600;

  &[role="button"] {
    text-decoration: underline;
  }
}

blockquote {
  max-width: 750px;
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-style: italic;
  color: $color-neutral-darker;
}

figure {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  svg {
    max-width: 100%;
    height: auto;
  }
}

figcaption {
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
}

pre {
  white-space: pre-line;
  color: $color-blue-bell-900;
}

section {
  > .row {
    @include media-breakpoint-down(lg) {
      gap: 1rem;
    }

    > div {
      > *:first-child {
        margin-top: 0;
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* --- HEADER --- */

header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: $color-blue-bell-500;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  & > div {
    gap: 2rem;
  }

  h5 {
    margin: 1rem 0;
    max-width: 400px;
    color: $color-neutral-white;
    font-size: 1.25rem;
    font-weight: 600;
  }

  span.un-tag {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-neutral-white;
    margin-right: 1.5rem;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .ci-hamburger {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url("../sc-common/img/common/icon-hamburger.svg");
    background-size: cover;
  }
}

#header-dropdown-menu {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

  > li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    &:not(:last-child) {
      border-bottom: 1px solid $color-blue-bell-200;
    }

    img {
      height: 1.5rem;
    }

    > a {
      padding: 0.5rem 0;
      color: $color-blue-bell-800;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 600;
      vertical-align: middle;
    }
  }
}

.hero {
  display: flex;
  width: 100%;
  /* min-height: 400px; */
  background-image: url("../sc-common/img/common/hero-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .title {
    @extend .row;

    margin-top: 10rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: $color-shadow-green-200;

    > :first-child {
      @extend .col-2, .d-none, .d-lg-flex;

      display: flex;
      justify-content: center;
      align-items: center;

      > img {
        max-width: 120px;
        width: 100%;
        height: auto;
      }
    }

    > :nth-child(2) {
      @extend .col;
    }
  }
}

/* --- CALLOUTS --- */

.callout {
  margin-top: 6rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 935px;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  border-radius: 1rem;

  color: $color-blue-bell-950;
  font-weight: 500;

  @media (max-width: map-get($grid-breakpoints, "sm")) {
    flex-wrap: wrap;
  }
  &[type="info"] {
    background-color: $color-blue-bell-200;
  }
  &[type="reflection"] {
    background-color: $color-blue-bell-600;
    color: $color-blue-bell-50;
  }
  &[type="warning"] {
    background-color: $color-blue-bell-200;
    h6 {
      color: $color-blue-bell-950;
    }
  }
  &[type="glossary"] {
    background-color: $color-blue-bell-900;
    color: $color-blue-bell-50;

    h6 {
      margin: 0;
      font-family: $font-playpen-sans, sans-serif;
      font-size: 1.5rem;
    }
    a {
      color: $color-blue-bell-200;
    }
  }

  > img {
    margin: -96px auto 0;
    width: 130px;
    height: 130px;
  }

  .callout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -2rem;
    margin-bottom: 1.5rem;

    > h6 {
      margin: 0;
      font-family: $font-playpen-sans, sans-serif;
      font-size: 1.5rem;
    }

    > button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: calc(1.5rem + 4px);
      height: calc(1.5rem + 4px);
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: $color-blue-bell-500;
      transition: all ease 0.1s;
      cursor: pointer;

      &:hover {
        background-color: $color-blue-bell-600;
      }

      > i {
        /* display: inline-block; */
        text-align: center;
        font-size: 1.5rem;
        -webkit-text-stroke: 1px;
        color: $color-neutral-white;
      }
    }

    // Responsiveness
    @include media-breakpoint-down(lg) {
      margin-top: 0;
    }
  }

  > .callout-body {
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
}

/* --- QUIZ CALL TO ACTION --- */

@mixin quiz-cta-color($bg-color, $btn-bg-color) {
  .quiz-cta {
    background-color: $bg-color;
    button {
      background-color: $btn-bg-color;
    }
  }
}

.quiz-cta {
  padding: 2rem;
  border-radius: 0.75rem;
  background-color: $color-neutral-lighter;

  h6 {
    font-weight: 500;
    color: $color-neutral-darker;
    margin-top: 0;
    font-family: $font-playpen-sans;
    font-size: 1.5rem;
  }

  button {
    margin-top: 1rem;
    border: none;
    border-radius: 0.75rem;
    background-color: $color-neutral-normal;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}

/* --- CUSTOM CARD CUSTOMIZATION --- */

@mixin custom-card-color(
  $title-color,
  $title-bg-color,
  $content-color,
  $content-bg-color
) {
  .custom-card-title {
    color: $title-color;
    background-color: $title-bg-color;
  }
  .custom-card-content {
    color: $content-color;
    background-color: $content-bg-color;
  }
}

.custom-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $color-neutral-darker;

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  .custom-card-title {
    padding: 0.75rem 1rem;
    color: $color-neutral-black;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    background-color: $color-neutral-normal;
    border-radius: 1rem;
  }
  .custom-card-content {
    flex-grow: 1;
    padding: 1.5rem;
    background-color: $color-neutral-light;
    border-radius: 1rem;

    > * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  b {
    font-weight: 500;
  }

  &.custom-card-orleans {
    @include custom-card-color(
      $title-color: $color-neutral-darker,
      $title-bg-color: $color-new-orleans-100,
      $content-color: $color-neutral-darker,
      $content-bg-color: $color-new-orleans-50
    );
  }
  &.custom-card-blue {
    @include custom-card-color(
      $title-color: $color-neutral-white,
      $title-bg-color: $color-blue-bell-950,
      $content-color: $color-neutral-darker,
      $content-bg-color: $color-blue-bell-100
    );
  }
  &.custom-card-pink {
    @include custom-card-color(
      $color-neutral-black,
      $color-tonys-pink-400,
      $color-neutral-black,
      $color-tonys-pink-200
    );
  }
}

/* --- BOOTSTRAP CUSTOMIZATION --- */

.accordion {
  .accordion-button {
    font-size: 1.125rem;
  }
  .accordion-body {
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
}

// TABS

@mixin custom-tabs-color(
  $border-color,
  $btn-bg,
  /* $btn-active-border-color, */ $btn-active-bg
) {
  border-color: $border-color;

  > li {
    > button {
      background-color: $btn-bg;

      &.active {
        border-color: $border-color;
        background-color: $btn-active-bg;
      }
    }
  }
}

ul.custom-round-tabs.nav.nav-tabs {
  gap: 0.75rem;
  border-width: 2px;

  > li {
    margin-bottom: 1px;

    > button {
      border-width: 2px;
      border-bottom: none;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      color: $color-neutral-dark;
      font-weight: 600;

      &.active {
        color: $color-neutral-black;
      }
    }
  }

  &.blue-tabs {
    @include custom-tabs-color(
      $color-blue-bell-800,
      $color-blue-bell-300,
      $color-blue-bell-500
    );
  }
  &.orchid-tabs {
    @include custom-tabs-color(
      $color-light-orchid-500,
      $color-light-orchid-200,
      $color-light-orchid-300
    );
  }
  &.orleans-tabs {
    @include custom-tabs-color(
      $color-new-orleans-600,
      $color-new-orleans-200,
      $color-new-orleans-300
    );
  }
}

/* --- VIDEO --- */

.video {
  width: 100%;
  border-radius: 1rem;
  svg {
    width: 100%;
    height: auto !important;
  }
}

/* --- TOPIC --- */

@mixin topic-color($head-bg) {
  .topic-head {
    background-color: $head-bg;
  }
}

.topic {
  .topic-head {
    margin-bottom: -1rem;
    padding: 3rem 4rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    .topic-content {
      @extend .col-9;

      h6 {
        font-family: $font-playpen-sans;
        color: $color-neutral-darker;
        font-size: 1.5rem;
      }

      > *:first-child {
        margin-top: 0;
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }

    .topic-illustration {
      @extend .col-3;

      img {
        width: 100%;
      }
    }
  }

  &.topic-blue {
    @include topic-color($color-blue-bell-100);
    b {
      color: $color-neutral-black;
      font-weight: 500;
    }
  }
}

.footer-nav {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    width: 163px;
    padding: 4px 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-size: 1.25rem;
    font-style: normal;
    text-decoration: none !important;
    border-radius: 0.75rem;
    border: solid 2px $color-blue-bell-600;

    transition: all ease-in-out 100ms;

    i {
      font-size: 1.75rem;
      font-weight: bold;
    }

    &:first-child {
      background-color: transparent;

      &:hover {
        background-color: $color-blue-bell-200;
      }
    }

    &:last-child {
      color: $color-neutral-white;
      background-color: $color-blue-bell-600;

      &:hover {
        border-color: $color-blue-bell-900;
        background-color: $color-blue-bell-900;
      }
    }
  }
}

/* --- REVIEW QUIZ --- */

@mixin review-quiz-color($bg, $button-bg) {
  background: $bg;

  button {
    background: $button-bg;
  }

  .quiz-alternative {
    input {
      border-color: $button-bg;
    }
  }
}

.review-quiz {
  width: 100%;
  /* height: 200px; */
  border-radius: 1rem;
  padding: 2rem;
  background-color: $color-blue-bell-50;

  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }

  h6 {
    font-size: 1.125rem;
    color: $color-neutral-darker;
  }
  .case-description {
    font-style: italic;
  }

  form {
    margin-top: 2rem;
    fieldset {
      padding: 1.5rem;
      border-radius: 0.5rem;
      border: 1px solid $color-blue-bell-400;
      legend {
        padding-left: 1rem;
        padding-right: 1rem;
        font-weight: 500;
      }
      > div:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  button {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.25rem;
    color: $color-neutral-white;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: $color-neutral-light;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  img {
    width: 100%;
  }

  .opt-set {
    gap: 2rem;
    > div {
      > li {
        margin-bottom: 1rem;
      }
    }
  }

  .tip {
    color: $color-neutral-dark;
    font-size: 1rem;
    margin-bottom: 2rem !important;
  }

  .alternatives-horizontal {
    display: flex;
    gap: 2rem;

    .quiz-alternative {
      flex-grow: 1;
      flex-direction: column;
    }
  }

  .quiz-alternative {
    display: flex;
    align-items: center;
    gap: 1rem;

    input {
      border: 2px solid $color-neutral-black;
      transition: all 0.1s linear;

      &[type="radio"] {
        appearance: none;
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        border-radius: 100%;

        &:checked {
          border-width: 5px;
        }
      }
      &[type="text"] {
        width: 100%;
        border-radius: 4px;
        height: 2rem;
      }
      &[type="checkbox"] {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
      }
    }

    select {
      width: 100%;
      padding: 0.25rem;
      font-size: 1rem;
      background: none;
      border: 1px solid $color-neutral-darker;
      border-radius: 0.5rem;
    }
  }

  .answer-field {
    margin-top: 2rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 3rem;

    strong {
      font-weight: 500;

      &[correct] {
        color: green;
      }
      &[incorrect] {
        color: red;
      }
    }
  }

  .opt-set {
  }

  &.review-quiz-blue {
    @include review-quiz-color($color-blue-bell-50, $color-blue-bell-600);
  }
}

footer {
  height: 80px;
  background-color: $color-blue-bell-600;
}
