<div class="container d-flex justify-content-between align-items-center">
  <h5>Desenvolvimento neuropsicomotor, sinais de alerta e estimulação precoce</h5>

  <div class="d-flex justify-content-between align-items-center">
    <span class="un-tag"></span>

    <div class="dropdown">
      <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="ci-hamburger"></i>
      </button>
      <ul id="header-dropdown-menu" class="dropdown-menu dropdown-menu-end">
        <li>
          <img src="img/common/icon-booklet.svg">
          <a class="dropdown-item" href="#" target="_blank" data-name="booklet">
            Livro do curso
          </a>
        </li>
        <li>
          <img src="img/common/icon-guide.svg">
          <a class="dropdown-item" href="#" target="_blank" data-name="guide">
            Guia do curso
          </a>
        </li>
        <!-- <li>
          <img src="img/common/icon-media.svg">
          <a class="dropdown-item" href="#" target="_blank" data-name="media">
            Midiateca
          </a>
        </li> -->
        <li>
          <img src="img/common/icon-quiz.svg">
          <a class="dropdown-item" href="#" target="_blank" data-name="main">
            Questões avaliativas
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
